<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/fontawesome-webfont.woff2"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.eot"></a>
    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
    <a href="~/fonts/MontserratLight.eot"></a>
    <a href="~/fonts/MontserratLight.ttf"></a>
    <a href="~/fonts/MontserratLight.woff"></a>
    <a href="~/fonts/MontserratLight.woff2"></a>
    <a href="~/fonts/themify.eot"></a>
    <a href="~/fonts/themify.ttf"></a>
    <a href="~/fonts/themify.woff"></a>
    <a href="~/fonts/weathericons-regular-webfont.eot"></a>
    <a href="~/fonts/weathericons-regular-webfont.ttf"></a>
    <a href="~/fonts/weathericons-regular-webfont.woff"></a>
    <a href="~/fonts/weathericons-regular-webfont.woff2"></a>
    <script src="~/js/dashboard1.js"></script>
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="css/lib/rangSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="css/lib/rangSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <!--Themes Jquery Bar Rating-->
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/lib/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <script src="~/js/dashboard2.js"></script>

    <script src="~/js/scripts.js"></script>


</head>

<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
